<h1><%= @cat.name%></h1>

Age: <%= @cat.age%><br>
Breed: <%= @cat.breed%><br>
Gender: <%= @cat.gender%><br>
<%= 'Indoor' if @cat.indoor %>
<%= 'Outdoor' unless @cat.indoor %><br><br>

<%= image_tag @cat.image %>

<%= link_to 'Delete Cat', destroy_cat_path(@cat), {method: 'DELETE'} %>
<%= link_to 'Edit Cat', edit_cat_path(@cat) %>
<%= link_to 'Home', root_path %>
