<h1><%= @candy.name %></h1>

<ul>
  <li>Description: <%= @candy.description %></li>
  <li>Category: <%= @candy.category %></li>
  <li>Weight: <%= @candy.weight %></li>
  <li>Price: <%= @candy.price %></li>
</ul>
